@import 'vars';

html {
  box-sizing: border-box;
  height: 100%;
  font-family: $font-family, sans-serif;
  --webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-weight: 300;
  font-size: 16px;
  color: $color-light-dark;
  overflow-anchor: none;
}

a {
  text-decoration: none;
}

#__next {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.wrapper {
  padding: 40px;
  background-color: var(--color-white);
  height: 100%;
  
  @media (max-width: 768px) {
      padding: 35px 15px;
  }
}

::selection {
  color: $color-white;
  background-color: $color-primary;
}
