@import 'mixins/font-face';
  // base
  $font-family: 'Roboto', sans-serif;
  $content-width: 1280px;
  $container-offset: 15px;
  $container-width: calc($content-width + ($container-offset * 2));

  

  // colors
  $color-white: #fff;
  $color-black: #000;
  $color-red: #f00;
  $color-green: #00a340;
  $color-dark: #141414;
  $color-light-dark: #1f1f1f;
  $color-primary: #005382;
  $color-dark-primary: #003F63;
