@import 'global';
@import 'vars';

@import './mixins/font-face';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  font-family: $font-family;
  margin: 0px;
  padding: 0px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding-left: $container-offset;
  padding-right: $container-offset;
  max-width: $container-width;

  @media screen and (min-width:996px){
    $container-width: 800px;
  }
  
}
