
@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('/fonts/#{$url}.woff2') format("woff2");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@mixin media( $width: 1280px ) {
  @if $width == 1280px {
    @media screen and (min-width: 1280px) {
      $content:$content
    }
  }

  @if $width == 960px {
    @media screen and (min-width: 960px) {
      $content:$content
    }
  }

  @if $width == 768px {
    @media screen and (min-width: 768px) {
      $content:$content
    }
  }

  @if $width == 420px {
    @media screen and (min-width: 420px) {
      $content:$content
    }
  }
  

}